on:
  push:
    tags:
      - '[a-z]+@[0-9]+.[0-9]+.[0-9]+'
      - '[a-z]+-[a-z]+@[0-9]+.[0-9]+.[0-9]+'
      - '[a-z]+-[a-z]+-[a-z]+@[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write # Required for publishing the GitHub release
      id-token: write # OIDC ID token is used for authentication with npm/jsr

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests and typechecks
        run: pnpm test && pnpm typecheck

      - name: Build packages
        run: pnpm build

      - name: Parse package name from tag
        id: parse_tag
        run: |
          TAG="${{ github.ref_name }}"
          SHORT_PACKAGE_NAME="${TAG%@*}"
          PACKAGE_VERSION="${TAG##*@}"

          # The "pizza" package is unscoped, all others are under @pizzajsdev/
          if [ "$SHORT_PACKAGE_NAME" = "pizza" ]; then
            PACKAGE_NAME="${SHORT_PACKAGE_NAME}"
          else
            PACKAGE_NAME="@pizzajsdev/${SHORT_PACKAGE_NAME}"
          fi

          echo "package_name=${PACKAGE_NAME}" >> $GITHUB_OUTPUT
          echo "package_version=${PACKAGE_VERSION}" >> $GITHUB_OUTPUT

      - name: Publish to npm
        run:
          pnpm publish --filter "${{ steps.parse_tag.outputs.package_name }}" --access public
          --no-git-checks

      - name: Create GitHub Release
        run: node ./scripts/create-github-release.js ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
